@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

body
{
    font-family: 'Montserrat', sans-serif;
}

h3
{
    text-align: center;
}

#mainContent > div
{
    background: grey;
    margin: 20px;
}

#mainMenu ul
{
    text-align:center;
    background: #f2f2f2;
    
}

#mainMenu ul li:hover, #mainMenu ul li:focus
{
    background: yellow;
}

#mainMenu ul li
{
    border-bottom: 1px solid grey;
}